/* Footer container */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  padding-left: 1rem;
  background-color: #222;
}

.footer .box-container .box h3 {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: #ddd;
}

/* design for all links */
.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #bbb;
  text-decoration: none;
}

/* hover effect on links */
.footer .box-container .box a:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 450px) {
  .footer .box-container .box a {
    width: 100%;
    font-size: 1rem;
  }
}
