/* Footer container styling. grid for better responsiveness */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    padding-left: 1rem;
    background-color: #9b974114;
}

.footer .box-container .box h3 {
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #000;
}

/* design for all links */
.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

/* hover effect on links */
.footer .box-container .box a:hover {
    color: #368940;
    text-decoration: underline;
}

/* subfooter/copyright part */
.footer .credit {
    text-align: center;
    border-top: 1rem solid rgba(155, 150, 65, 0.354);
    font-size: 1.6rem;
    color: #000;
    padding: 1rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: #368940;
}

@media(max-width: 450px) {
    .footer .box-container .box a {
        width: 100%;
        font-size: 1rem;
    }
}

@media(max-width: 450px) {
    .footer .credit {
        font-size: 1rem;
    }
}